<body>
  <div class="main-content">
    <section id="features">
      <h2>Qué ofrecemos</h2>
        <div class="row">
            <a href="#soft-landing"><div class="pic1"><p>
                Soft Landing
              </p></div></a>
            <a href="#proyecto-vida"><div class="pic2"><p>
                Proyecto de vida
            </p></div></a>
        </div>
      <article id="soft-landing">
          <h2>Soft Landing</h2>
          <p>
            Enfocado en gestionar todos los trámites necesarios para garantizar a la familia un arranque seguro en Madrid
          </p>
          <div class="feature-icons">
            <div class="icon">
              <img src="assets/images/tramites.png" alt="estospanas" />
              <p class="circle-caption">
                Extranjería              </p>
              </div>
              <div class="icon">
                <img src="assets/images/maletin.png" alt="estospanas" />
                <p class="circle-caption">
                  Trabajo
                </p>

              </div>
              <div class="icon">
                <img src="assets/images/birrete.png" alt="estospanas" />
                <p class="circle-caption">
                  Educación
                </p>

              </div>
              <div class="icon">
                <img src="assets/images/casa.png" alt="estospanas" />
                <p class="circle-caption">
                  Alojamiento
                </p>

              </div>
              <div class="icon">
                <img src="assets/images/cohete.png" alt="estospanas" />
                <p class="circle-caption">
                  Traslado
                </p>

              </div>

              <div class="icon">
                <img src="assets/images/marketing.png" alt="estospanas" />
                <p class="circle-caption">
                  Comunicación
                </p>

              </div>
            </article>
            <article id="proyecto-vida">
              <h2>Proyecto de vida</h2>
              <p>
                Enfocado en analizar las posibilidades de emprendimiento/inversión como alternativa a la búsqueda de empleo
              </p>
              <div class="feature-icons">
                <div class="icon">
                  <img src="assets/images/emprendimiento.png" alt="estospanas" />
                  <p class="circle-caption">
                    Emprendimiento
                  </p>

                </div>
                <div class="icon">
                  <img src="assets/images/desarrollo-web.png" alt="estospanas" />
                  <p class="circle-caption">
                    Desarrollo Web
                  </p>

                </div>
                <div class="icon">
                  <img src="assets/images/marketing.png" alt="estospanas" />
                  <p class="circle-caption">
                    Marketing
                  </p>

                </div>

              </div>
            </article>
        </div>
        <section class="ultimo-tercio">
          <article class="CTA-final">
            <h2>¿Quieres conocer más sobre España y las oportunidades que ofrece?</h2>
            <h3>¡Estamos para ayudarte!</h3>
            <button type="button" name="button">Más información</button>
          </article>
        </section>
      </div>
      </section>
      </div>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>

</body>
