<footer class="page-footer materialize-red.lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Estos Panas</h5>
        <p class="grey-text text-lighten-4">© Interletrados Community S.L. 2016</p>


      </div>

  <div class="footer-copyright">
    <div class="container">
    Hecho por <a class="orange-text text-lighten-3" href="http://camconsulting.online">CAM Consulting</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{site.baseurl}}/js/materialize.js"></script>
<script src="{{site.baseurl}}/js/init.js"></script>
