<div class="main-container">
  <header>
    <div class="top-bar">
      <div class="logo">
        <img src="assets/images/logo.png" alt="estos-panas" height="101px" />
      </div>
      <div class="navbar">
        <ul>
          <a href="#features"><li>Servicios</li></a>
          <li>Blog</li>
          <li>Contacto</li>
          <li>Quiénes somos</li>
        </ul>
      </div>
      <div class="hero-shoot">
        <h1>Una mano amiga que te recibe</h1>
        <h3>Para ayudarte en tu nueva vida</h3>
        <button class="btn waves-effect waves-light" type="submit" name="button">Haz tu consulta</button>
      </div>
    </div>
  </header>
